---
const {titulo, contenido} = Astro.props
---

<div class="text-white flex p-4">
    <h2 class="text-start w-1/2 text-[12px]">{titulo}</h2>
    <p class="text-[#b57869] text-[12px] w-1/2">{contenido}</p>
</div>